$zindex: (
	hole: -1,
	ground: 1,
	hill: 2,
	mountain: 3,
	atmosphere: 4,
	stratosphere: 5,
	moon: 6,
	mars: 7,
	phobos: 8,
	jupiter: 9,
	europa: 10,
	io: 11,
	saturn: 12,
	uranus: 13,
	pluto: 14,
	charon: 15,
	andromeda: 999
)
