.btn {
    padding: 1.2rem;
    border: none;
    background: map-deep($colors, orange);
    color: map-deep($colors, white);
    cursor: pointer;
    .btn:hover {
      background: map-deep($colors, blue);
      transition: all 0.5s ease;
      }
    &--orange {
      grid-column: 2 / 3;
      width: 15rem;
      justify-self: center;


      @include bp(phone) {
        grid-column: auto;
      }
    }



}
.border {
  border: 1px solid map-deep($colors, orange);
  background: map-deep($colors, white);
  color: map-deep($colors, orange);
}
