
.footer-box {
  width: 75rem;
  margin: 1rem auto;
  padding: 2rem 2rem 2rem 12rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.6rem;
  border: 1px solid map-deep($colors, orange);
  @include bp(tablet) {
    padding: 2rem;
  }
  @include bp(phone) {
    width: 90%;
    grid-template-columns: none;
    padding: 2rem;
  }
  &--noborder {
    border: none;
    margin: 1rem auto;
    padding:2rem 0 2rem 12rem;
    @include bp(tablet) {
      padding: 2rem;
    }
    @include bp(phone) {
      padding: 2rem;
      grid-template-columns: none;
    }
  }

  @include bp(phone) {
    grid-template-columns: none;
  }
}
