.footer-bottom {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 4rem 0 0;
  padding: 1em 0;
  position: sticky;
  color: map-deep($colors, blue);
  text-align: center;
  @include bp(phone) {
    width: 90%;
    align-items: center;
    align-self: center;
    justify-self: center;
    flex-flow: column wrap;
  }

}
.footer-paragraph {
  @include bp(phone) {
    padding: 2rem 0;
  }
}
